$Global:SourceLocation = ""
$Global:AzureDevOpsSourceLocation = ""
$Global:BitBucketSourceLocation = ""
$Global:GitLabSourceLocation = ""

# Load the profile
. "<<PROFILE>>"

Enter-GitHubLocation
Clear-Host
Invoke-Expression (&starship init powershell)