# This is the configuration file for Ghostty.
#
# This template file has been automatically created at the following
# path since Ghostty couldn't find any existing config files on your system:
#
#   /Users/patrik/Library/Application Support/com.mitchellh.ghostty/config
#
# The template does not set any default options, since Ghostty ships
# with sensible defaults for all options. Users should only need to set
# options that they want to change from the default.
#
# Run `ghostty +show-config --default --docs` to view a list of
# all available config options and their default values.
#
# Additionally, each config option is also explained in detail
# on Ghostty's website, at https://ghostty.org/docs/config.

# Config syntax crash course
# ==========================
# # The config file consists of simple key-value pairs,
# # separated by equals signs.
# font-family = Iosevka
# window-padding-x = 2
#
# # Spacing around the equals sign does not matter.
# # All of these are identical:
# key=value
# key= value
# key =value
# key = value
#
# # Any line beginning with a # is a comment. It's not possible to put
# # a comment after a config option, since it would be interpreted as a
# # part of the value. For example, this will have a value of "#123abc":
# background = #123abc
#
# # Empty values are used to reset config keys to default.
# key =
#
# # Some config options have unique syntaxes for their value,
# # which is explained in the docs for that config option.
# # Just for example:
# resize-overlay-duration = 4s 200ms

shell-integration = zsh

font-family = Iosevka Term
#font-family = Maple Mono NF
font-style = Regular
theme = Zenwritten Dark

window-padding-x = 16
window-padding-y = 16
background-opacity = 0.95
background-blur = true

# https://ghostty.org/docs/config/reference#macos-icon
macos-icon = official
macos-icon-frame = plastic
macos-window-shadow = false
#macos-option-as-alt=true
quit-after-last-window-closed = true

font-size = 20
font-feature = "ss01"
font-feature = "ss02"
font-feature = "ss03"
font-feature = "ss04"
font-feature = "liga"
